<div class="container contact-container">
    <h2 >Lasa-ne un mesaj!</h2>
    <form>
        <div>
            <mat-form-field class="small-width">
                <mat-label>Nume</mat-label>
                <input matInput placeholder="Completeaza numele">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="small-width">
                <mat-label>Adresa de mail</mat-label>
                <input matInput placeholder="Completeaza email-ul" type="email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width">
                <mat-label>Mesaj</mat-label>
                <textarea matInput placeholder="Completeaza mesajul"></textarea>
              </mat-form-field>
        </div>      
        <button mat-raised-button color="primary">Trimite</button>
      </form>
</div>